.aboutSection {
  background-color: rgb(25, 105, 89);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.aboutSection h2 {
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-weight: 300;
}
.aboutSection h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(138, 138, 61);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}
/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .aboutSection{
    height: 100vh;
  }
  .aboutSection h2 {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
