* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.Home {
  background: url(../../images/home-bg.avif) no-repeat center;
  filter: brightness(0.7);
  height: 100vh;
}
.heroSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(25, 105, 89);
  border-radius: 20px;
  filter: opacity(0.7);
}
.heroSection h1 {
  padding: 2rem 1rem;
  font-size: 3rem;
  color: #ffffff;
}
